@import "tailwindcss";

@theme inline {
  --color-primary: #0B3D5C; /* Deep Blue */
  --color-primary-light: #1A8FA3; /* Using Teal for primary hover */
  --color-secondary: #1A8FA3; /* Teal */
  --color-secondary-light: #3EB489; /* Green for secondary hover */
  --color-accent: #3EB489; /* Green */
  
  --color-background: #F7FAFB; /* Off-white */
  --color-foreground: #1E2A33; /* Dark Slate */
  
  --color-card: #E4EAEE; /* Light Gray */
  --color-card-foreground: #1E2A33; /* Dark Slate */
  --color-border: #E4EAEE; /* Light Gray */
  --color-muted: #8295a3; /* Lighter Slate */
  --color-muted-foreground: #475a68; /* Mid Slate */

  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

@custom-variant dark (&:is(.dark *));



body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

/* Base utility for smooth scroll */
html {
  scroll-behavior: smooth;
}
